:root {
  --color-brand: #819b57;
  --color-white: #faf4ea;
  --color-primary-light: #465929;
  --color-dark: #31261a;
  --color-sticks: #cfcfbc;
  --color-secondary: #a28268;
}


$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;